:root{

    --azul-oscuro: #33BBE8;
    --azul-claro: #35F2EF;
    --verde-oscuro: #3CDBAA;
    --verde-claro: #35F284;
    --verde-medio: #33E84B;

}

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}


html{
    font-size: 62.5%;
    background-color: var(--azul-oscuro);
}

.main{
    display: grid;
    height: 100vh;
    width: 100%;
    place-items: center;
    background-color: var(--azul-oscuro);
}

.section__container{

    width: 90%;
    display: grid;
    grid-template-columns: minmax(288px, 500px);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    align-items: center;
    place-content: center;
    

}

.title{
    font-size: 2.4rem;
    line-height: 2.6rem;
    font-weight: bold;
    text-align: center;
    padding-bottom: 8px;
}

.label{
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 500;
    justify-self: center;
    
}

.input{
    width: 90%;
    max-width: 300px;
    height: 35px;
    justify-self: center;
}

.input:invalid{
    background-color: rgb(255, 155, 73);
    /* background-color: rgb(248, 159, 159); */
}

.select{
    width: 180px;
    height: 35px;
    justify-self: center;
}

.button{
    width: 150px;
    height: 35px;
    justify-self: center;
    border: 1px solid black;
    border-radius: 15px;
    background-color: var(--verde-oscuro);
    margin-top: 25px;
}

.button:active{
    background: linear-gradient(0deg, var(--verde-claro) 0%, var(--azul-claro) 100%);

}

.label--resultado{

    max-width: 450px;

}

.error{
    color: #FFEB3B;
}


